// Override this file to add your own SCSS styling.

/* -----------div tips------------- */

  div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 90px;
    color: #f8f8f2;
    background-color: #003366;
    border: solid 5px #E7EBEC;
  }

div.puzzle {
  background-image: url("../img/Your-turn.png");
}

div.fyi {
 background-image: url("../../img/canvas.svg");
}

div.demo {
  background-image: url("Live-code.png");
}

div.note {
  background-image: "../img/lightbulb.png";
}
